@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');


body {
  background-color: #111827;
  overflow-x: hidden !important;
	min-height: 100vh;
  font-family: 'Poppins' sans-serif;
}

.hero{
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-weight: 800;
}

.hero-subtext{
  font-weight: 500;
  font-family: 'Outfit', sans-serif;
}

#text{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

